{% extends 'layout.html' %} 

{% block body %}
<main role="main" class="flex-shrink-0">
  <div class="container" style="width:90%; height:100%; background-color:#cfdce6; margin: auto; margin-top: 2em; margin-bottom: 2em;">
    <div class='jumbotron text-center'>
        <h1>WELCOME TO FLASK POWERED BLOGPOST</h1>
        <p class='lead'>This aplication is created on the Python Flask Framework</p>
        <p class='lead'>This is a demo project buid to get familier with the working of the Python Flask Framework</p>
    </div>
</main>

{% endblock %}